body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  background-color: rgb(223, 220, 220);
}


#user_info{
  display: grid;
  grid-template-columns:  repeat(2,0.5fr);
  margin: auto;
  padding: 0rem 8rem;
}
@media(max-width: 1200px){
  #user_info{
     display: grid;
     grid-template-columns: 1fr;
     margin-right: -2rem;
  }

  #user_info #submit{
    background-color: #333;
    color: white;
    margin-top: 1rem;
    width: 20%;
    margin: 1rem 2rem;
  }
}

.main  #user_info .billings  #information div input, .main   #user_info .payments div input {
  padding: 0.5rem 1rem;
  width: 50%;
  margin: 1rem 0rem;
}

.main  #user_info .billings  #information  .combine , .main  #user_info .payments  .combine{
  display: flex;
}

.main  #user_info .payments .name-on-card{
  margin-top: 1.2rem;
}

.main  #user_info #submit{
  background-color: #333;
  color: white;
  margin-top: 1rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;;
}