*{
  /* left: 0;
  top: 0; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

/* #id --> main */
#main{
  display: flex;
  column-gap: 5px;
  margin: 8px 1rem;
  

}

/* #id --> humberger */

#humberger{
  top: 10px;
  left: 0;
  width: 35px;
  height: 40px;
  border: 3px solid white;
  border-radius: 7px;
  background-color: black;
  z-index: 1;

}
/* inside humberger --> id line */

#humberger #line  b hr{
  width: 20px;
  line-height: 4px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}

/* hover effect on humberger */

#humberger:hover{
   cursor: pointer;
}

/* id --> logo */
#logo{
  margin-top: -20px;
  padding-top: 0px;
  margin-left: 10px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

/* logo colors */
#logo h2 #one{
  color: red;;
}
#logo h2 #two{
  color: green;
}
#logo h2 #three{
  color: blue;
}
#logo h2 #four{
  color: yellow;
}
#logo h2 #five{
  color: orange;
}
#logo h2 #six{
  color: blueviolet;
}

/* id -> menu */
#menu{
  box-sizing: border-box;
  
}
#menu select{
  width: 130px;
  height: 30px;
  color: black;
  background-color: silver;
  margin-left: 30px;
  margin-top: 5px;
}

/* menu -> select -> options */
#menu select option{
  background-color: white;
  color: black;

}

/* hover effect on select.. */
#menu select:hover{
  cursor: pointer;
  border: 3px solid orange;
  border-radius: 5px;
}
/* input label... */
#menu input{
  height: 30px;
  margin-left: -6px;
  width: 600px;
  color: black;
  background-color: white;

}
/* button --> id --> search icon */
#menu #search-icon{
  margin-left: -6px;
  height: 29.5px;
  width: 35px;
  color: black;
  background-color: orange;
}
/* search icon */
#menu #search-icon i {
  background-color: orange; 
}

/* id --> sign-in */
#sign-in{
  width: 150px;
  margin-left: 10px;
  margin-top: -15px;
  
}
#sign-in button{
  color: white;
  border: none;
}
/* for span in button */
#sign-in button h4 span{
  color: orange;
}

/* id -> orders */
#order{
  width: 120px;
  margin-left: 20px;
  margin-top: -15px;
}

/* order's button */
#order button{
  color: white;
  border: none;
}

#order button h4 span{
  color: orange;
}
/* id prime */
#prime{
  width: 70px;
  margin-left: 20px;
  margin-top: -15px;
}
#prime button{
  color: white;
  border: none;
}

/* id --> cart */
#cart{
  width: 120px;
  margin-left: 20px;
  margin-top: 2px;
}

#cart button{
  padding: 6px;
  font-size: large;
  color: orange;
  border: none;
}

#cart button span{
  color: white;
  font-size: medium;
}

/* ############################################## */

/*  css for sidebar menu */
#side_menu_navbar{
 display: flex;
 color: white;
 text-decoration: none;
 width: 240px;
 height: 2.5rem;
 text-align: center;
 margin-top: 2rem;
 padding: 8px 1rem;
 
}
/* for user circle menu */
#side_menu_navbar i{
  font-size: larger;
  background-color: white;
}
/* heading in sidebar menu */


#display_side_menu a{
  display: block;
  text-decoration: none;
  color: black;
  background-color: white;
  width: 350px;
  height: 50px;
  border: none;
  text-align: center;
  
}

#display_side_menu #side_menu_navbar:hover{
  
  color: black;
  background-color: white;
}

#display_side_menu a:hover{
  background-color: orange;
  color: black;
}

#display_side_menu{
  
  width: 350px;
  background-color: white;
  margin-left: -900px;
  margin-top: -2rem;
  z-index: 5;
  position: relative;
}

/* ####################################### */
/* for id -->  navbar */
#navbar{
  display: flex;
  margin-top: -540px;
  z-index: 1;
  position: relative;
  border: none;
  column-gap: 8px;
  
  height: 100%;
  background-color: rgb(50, 42, 58);
}

/*  for id --> location */
#location #lct{
   width: 140px;
   padding: 8px 0;
   color: white;
   height: 100%;
   border: none;
   background-color: rgb(50, 42, 58);
}
#location #lct i{
  background-color: rgb(50, 42, 58);
}

/*  id --> best sellers */
#best_seller button a{
   text-decoration: none;
   color: white;
   font-weight: bold;
   background-color: rgb(50, 42, 58);
}
/* hover effects */
#best_seller button a:hover{
  cursor: pointer;
  color: red;
}
/* button of #best_seller */
#best_seller button{
  width: 150px; 
  height: 100%;
  padding: 0px 40px;
  border:  none;
  background-color: rgb(50, 42, 58);
}

/* id --> gift ideas */
#gift_ideas button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#gift_ideas button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #gift ideas */
#gift_ideas button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> new release */
#new_releases button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color:rgb(50, 42, 58);
}
/* hover effects */
#new_releases button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #new release */
#new_releases button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> deal store */
#deal_store button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#deal_store button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #deal_store */
#deal_store button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> electonics */
#electronics button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#electronics button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #electronics */
#electronics button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> customer services */
#customer_services button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#customer_services button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #customer services */
#customer_services button{
 width: 140px; 
 height: 100%;
 padding: 0px 40px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> books */
#books button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#books button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #books */
#books button{
 width: 250px; 
 height: 100%;
 padding: 0px 40px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* location box.. */
#location_box{
  border: 1px solid white;
  color: white;
  width: 500px;
  height: 260px;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  display: none;
}
/* location box remove button link */
#location_box  #header_location_box #remove a{
  text-decoration: none;
  color: white;
  background: red;

}
/* location box's remove button */
#location_box  #header_location_box #remove{
  float: right;
  margin-top: -60px;
  background: red;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
}

/* id --> header_location_box */
#location_box #header_location_box{
  border: 1px  rgb(208, 198, 198) solid;
  background-color: rgb(208, 198, 198);;
  height: 50px;

}

#location_box #header_location_box h5{
  margin-top: 20px;
  background-color: rgb(208, 198, 198);
  color: black;
  padding-left: 1rem;
}
/* id --> location_box_info */
#location_box #location_box_info{
  background-color: white;
}
#location_box #location_box_info  p {
  font-size: small;
  padding: 1rem;
  background-color: white;
  color: black;
}


#location_box #location_box_info #sign_address{
  background-color: orange;
  padding: 1rem;
  width: 400px;
  margin-left: 2.8rem;
}

#location_box #location_box_info #country_names{
  background-color: rgb(208, 198, 198);
  padding: 1rem;
  width: 400px;
  margin-left: 2.8rem;
  
}

#location_box #location_box_info #country_names option{
  background-color: rgb(208, 198, 198);
  padding: 1rem;
  width: 400px;
  margin-left: 2.8rem;
  
}

/* sign-form */
#sign-form{

  background-color: white;
  width: 50%;
  display: none;
  margin-left: 650px;
  position: relative;
  z-index: 9;
  margin-top: -55px;
}

/* sign-form --> #sign_in */


#sign-form #sign_form_header  #sign_in{
  color: black;
  text-decoration: none;
  background-color: orange;
  margin-top: 8px;
  padding: 6px 60px;
  
}
/* sign-form --> #sign_form_header */
#sign-form #sign_form_header{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: center;
  background-color: white;
}

/* #sign-form --> #sign_form_header --> #new_guest */
#sign-form #sign_form_header #new_guest{
  color: black;
  font-size: small;
  background-color: white;
}

/* #sign-form --> #sign_form_header --> #start_here*/
#sign-form  #sign_form_header #start_here{
  color: blue;
  text-decoration: none;
  cursor: pointer; 
  background-color: white;
}

/* sign-from --> list and account  */
#sign-form #list_and_account{
  display: flex;
  justify-content: space-around;
  background-color: white;
}
/* list and account --> h4 */
#sign-form #list_and_account h4{
  color: gray;
  background-color: white;
}

#sign-form #list_and_account a{
  text-decoration: none;
  display: block;
  color: black;
  font-size: small;
  background-color: white;
}

/* hover effect */
#sign-form #list_and_account a:hover{
  color: red;
}

/* your list and your account */
#sign-form #list_and_account #your_list{
  margin-left: 4rem;
}

#sign-form #list_and_account #your_account{
  margin-right: 8rem;
}
#sign-form #list_and_account #your_list , #sign-form #list_and_account #your_account{
  background-color: white;
}

/* #sign-form #list_and_account #vertical_line */
#sign-form #list_and_account #vertical_line{
  height: 480px;
  border: 1px solid black;
}

/* image */
#Image_01 img{
 height: 400px;
 width: 1500px;
}
/* all holiday boxs.. */
#All-holiday , #new-gift-ideas, #All-holiday-2{
  display: flex;
}

/* id --> holiday */
#holiday #image-box-one , #holiday #image-box-two{
  display: flex;
  margin-left: 1.5rem;
  background-color:  rgb(245, 242, 237);
  margin-right: 1.5rem;
}
/* images */
#holiday #image-box-one img, #holiday #image-box-two img{
  width: 160px;
  height: 150px;
  border: 1px solid black;
  margin: 8px;
  
}
/* id --> holiday => id --> holiday-one */
#holiday #holiday-one{
  color: black;
  margin-left: 4.3rem;
  background-color:  rgb(245, 242, 237);
  padding-top: 0.6rem;
  margin-right: 4.3rem;
}

#holiday #holiday-one h3{
  background-color:  rgb(245, 242, 237);
}
#holiday{
  border: none;
  width: 400px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  border-radius: 40px;
  
}
#holiday:hover{
  box-shadow: white 4px 4px 2px;
}

#holiday a{
  background-color: rgb(245, 242, 237);
  text-decoration: none;
  color: black;
  margin-left: 9rem;
}
/* holiday dash */

#All-holiday #holiday-dash{
  border: none;
  width: 400px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  border-radius: 40px;
  margin-left: 0.5rem;
}
#All-holiday #holiday-dash:hover{
  box-shadow: white 4px 4px 2px;
}

#All-holiday #holiday-dash #image-box-three{
  background-color:  rgb(245, 242, 237);
}

#All-holiday #holiday-dash #image-box-three img{
  width: 380px;
  height: 320px;
  border: 1px solid black;
  margin: 8px;
  
}

#All-holiday #holiday-dash #holiday-two{
  color: black;
  margin-left: 5rem;
  background-color:  rgb(245, 242, 237);
  padding-top: 0.6rem;
  margin-right: 5rem;
}

#All-holiday #holiday-dash #holiday-two h3{
  background-color:  rgb(245, 242, 237);
}

#All-holiday #holiday-dash a{
  background-color: rgb(245, 242, 237);
  text-decoration: none;
  color: black;
  margin-left: 9rem;
}

/* holiday toy */
#All-holiday #holiday-toy{
  border: none;
  width: 400px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  border-radius: 40px;
  margin-left: 0.5rem;
}

#All-holiday #holiday-toy:hover{
  box-shadow: white 4px 4px 2px;
}

#All-holiday #holiday-toy #image-box-four{
  background-color:  rgb(245, 242, 237);
}

#All-holiday #holiday-toy #image-box-four img{
  width: 380px;
  height: 320px;
  border: 1px solid black;
  margin: 8px;
}


#All-holiday #holiday-toy #holiday-three{
  color: black;
  margin-left: 6.5rem;
  background-color:  rgb(245, 242, 237);
  padding-top: 0.6rem;
  margin-right: 6.5rem;
}

#All-holiday #holiday-toy #holiday-three h3{
  background-color:  rgb(245, 242, 237);
}

#All-holiday #holiday-toy a{
  background-color: rgb(245, 242, 237);
  text-decoration: none;
  color: black;
  margin-left: 9rem;
}

/* sign in securely */
#All-holiday #signin-and-img #signin-securely{
  border: none;
  width: 250px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  margin-left: 1rem;
  border-radius: 20px;
}

#All-holiday #signin-and-img #signin-securely h3{
  background-color:  rgb(245, 242, 237);
  margin-left: 1rem;
  padding-top: 1rem;
  margin-right: 1rem;
}

#All-holiday #signin-and-img #signin-securely #signin-securely-btn{
  background-color: rgb(240, 184, 80);
  width: 200px;
  margin-left: 1.5rem;
  padding: 0.7rem 1rem;
}

#All-holiday #signin-and-img #signin-securely #signin-securely-btn a{
  background-color:  rgb(240, 184, 80);
  text-decoration: none;
  color: black;
}

#All-holiday #signin-and-img #handmade-img{
  margin-left: 1rem;
}
#All-holiday #signin-and-img #handmade-img img{
  width: 250px;
  height: 200px;
}

/* id --> All-holiday-2 */
#All-holiday-2 #epic-deal{
  border: none;
  width: 400px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  border-radius: 40px;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

#All-holiday-2 #epic-deal:hover{
  box-shadow: white 4px 4px 2px;
}

#All-holiday-2 #epic-deal #product-img{
  background-color:  rgb(245, 242, 237);
}

#All-holiday-2 #epic-deal #product-img img{
  width: 380px;
  height: 320px;
  border: 1px solid black;
  margin: 8px;
}

#All-holiday-2 #epic-deal #heading-one{
  color: black;
  margin-left: 6.5rem;
  background-color:  rgb(245, 242, 237);
  padding-top: 0.6rem;
  margin-right: 6.5rem;

}

#All-holiday-2 #epic-deal #heading-one h3{
  background-color:  rgb(245, 242, 237);
}

#All-holiday-2 #epic-deal #product-info{
  background-color:  rgb(245, 242, 237);
}

#All-holiday-2 #epic-deal #product-info #product-info-btn{
  background-color: red;
  color: white;
  border: none;
  padding: 6px 16px;
  margin-left: 10px;
}
#All-holiday-2 #epic-deal #product-info h3{
  background-color:  rgb(245, 242, 237);
  margin-top: 0rem;
  margin-left: 8px;
}
#All-holiday-2 #epic-deal #product-info p{
  font-size: small;
  background-color:  rgb(245, 242, 237);
  margin-top: 0rem;
  margin-left: 8px;

}


#All-holiday-2 #epic-deal a{
  background-color: rgb(245, 242, 237);
  text-decoration: none;
  color: black;
  margin-left: 9rem;
}

/* electronic */
#All-holiday-2 #electronics-holiday-gift{
  border: none;
  width: 400px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  border-radius: 40px;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

#All-holiday-2 #electronics-holiday-gift:hover{
  box-shadow: white 4px 4px 2px;
}

#All-holiday-2 #electronics-holiday-gift #electronic-img{
  background-color:  rgb(245, 242, 237);
}

#All-holiday-2 #electronics-holiday-gift #electronic-img img{
  width: 380px;
  height: 320px;
  border: 1px solid black;
  margin: 8px;
}

#All-holiday-2 #electronics-holiday-gift #heading-two{
  color: black;
  margin-left: 6.5rem;
  background-color:  rgb(245, 242, 237);
  padding-top: 0.6rem;
  margin-right: 6.5rem;
 
}

#All-holiday-2 #electronics-holiday-gift #heading-two h3{
  background-color:  rgb(245, 242, 237);
}

#All-holiday-2 #electronics-holiday-gift a{
  background-color: rgb(245, 242, 237);
  text-decoration: none;
  color: black;
  margin-left: 10rem;
}

/* new force of nature */
#All-holiday-2 #series{
  border: none;
  width: 400px;
  background-color:  rgb(245, 242, 237);
  padding-bottom: 1rem;
  border-radius: 40px;
  margin-left: 0.5rem;
  margin-top: 1rem;
}

#All-holiday-2 #series:hover{
  box-shadow: white 4px 4px 2px;
}

#All-holiday-2 #series #series-img{
  background-color:  rgb(245, 242, 237);

}

#All-holiday-2 #series #series-img img{
  width: 380px;
  height: 320px;
  border: 1px solid black;
  margin: 8px;
  margin-top: 2rem;
}

#All-holiday-2 #series #heading-three{
  color: black;
  margin-left: 6.5rem;
  background-color:  rgb(245, 242, 237);
  padding-top: 0.6rem;
  margin-right: 6.5rem;
 
}

#All-holiday-2 #series #heading-three h3{
  background-color:  rgb(245, 242, 237);
}

#All-holiday-2 #series a{
  background-color: rgb(245, 242, 237);
  text-decoration: none;
  color: black;
  margin-left: 5rem;
}

#All-holiday-2 #enjoy-holidays{
  margin-left: 1rem;
  margin-top: 1.9rem;
}


#All-holiday-2 #enjoy-holidays #enjoy-img img{
  width: 250px;
  height: 225px;
  border: 1px solid black;
  margin: 8px;
}

#All-holiday-2 #enjoy-holidays #thoughts h2{
  background-color: burlywood;
  padding: 1rem;
  border-radius: 20px;
  color: black;
}