*{
  /* left: 0;
  top: 0; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #333;
  box-sizing: border-box;
}

/* #id --> main */
#main{
  display: flex;
  column-gap: 5px;
  margin: 8px 1rem;
  

}

/* #id --> humberger */

#humberger{
  top: 10px;
  left: 0;
  width: 35px;
  height: 40px;
  border: 3px solid white;
  border-radius: 7px;
  background-color: black;

  z-index: 1;

}
/* inside humberger --> id line */

#humberger #line  b hr{
  width: 20px;
  line-height: 4px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}

/* hover effect on humberger */

#humberger:hover{
   cursor: pointer;
}

/* id --> logo */
#logo{
  margin-top: -20px;
  padding-top: 0px;
  margin-left: 10px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

/* logo colors */
#logo h2 #one{
  color: red;;
}
#logo h2 #two{
  color: green;
}
#logo h2 #three{
  color: blue;
}
#logo h2 #four{
  color: yellow;
}
#logo h2 #five{
  color: orange;
}
#logo h2 #six{
  color: blueviolet;
}

/* id -> menu */
#menu{
  box-sizing: border-box;
  
}
#menu select{
  width: 130px;
  height: 30px;
  color: black;
  background-color: silver;
  margin-left: 30px;
  margin-top: 5px;
}

/* menu -> select -> options */
#menu select option{
  background-color: white;
  color: black;

}

/* hover effect on select.. */
#menu select:hover{
  cursor: pointer;
  border: 3px solid orange;
  border-radius: 5px;
}
/* input label... */
#menu input{
  height: 30px;
  margin-left: -6px;
  width: 600px;
  color: black;
  background-color: white;

}
/* button --> id --> search icon */
#menu #search-icon{
  margin-left: -6px;
  height: 29.5px;
  width: 35px;
  color: black;
  background-color: orange;
}
/* search icon */
#menu #search-icon i {
  background-color: orange; 
}

/* id --> sign-in */
#sign-in{
  width: 150px;
  margin-left: 9px;
  margin-top: -15px;
  
}
#sign-in button{
  color: white;
  border: none;
}
/* for span in button */
#sign-in button h4 span{
  color: orange;
}

/* id -> orders */
#order{
  width: 120px;
  margin-left: 9px;
  margin-top: -15px;
}

/* order's button */
#order button{
  color: white;
  border: none;
}

#order button h4 span{
  color: orange;
}
/* id prime */
#prime{
  width: 70px;
  margin-left: 9px;
  margin-top: -15px;
}
#prime button{
  color: white;
  border: none;
}

/* id --> cart */
#cart{
  width: 120px;
  margin-left: 20px;
  margin-top: 2px;
}

#cart button{
  padding: 6px;
  font-size: large;
  color: orange;
  border: none;
}

#cart button span{
  color: white;
  font-size: medium;
}

/* ############################################## */

/*  css for sidebar menu */
#side_menu_navbar{
 display: flex;
 color: white;
 text-decoration: none;
 width: 240px;
 height: 2.5rem;
 text-align: center;
 margin-top: 2rem;
 padding: 8px 1rem;
 
}
/* for user circle menu */
#side_menu_navbar i{
  font-size: larger;
  background-color: white;
}
/* heading in sidebar menu */


#display_side_menu a{
  display: block;
  text-decoration: none;
  color: black;
  background-color: white;
  width: 350px;
  height: 50px;
  border: none;
  text-align: center;
  
}

#display_side_menu #side_menu_navbar:hover{
  
  color: black;
  background-color: white;
}

#display_side_menu a:hover{
  background-color: orange;
  color: black;
}

#display_side_menu{
  
  width: 350px;
  background-color: white;
  margin-left: -900px;
  margin-top: -2rem;
  z-index: 5;
  position: relative;
}

/* ####################################### */
/* for id -->  navbar */
#navbar{
  display: flex;
  margin-top: -540px;
  z-index: 1;
  position: relative;
  border: none;
  column-gap: 8px;
  
  height: 100%;
  background-color: rgb(50, 42, 58);
}

/*  for id --> location */
#location #lct{
   width: 140px;
   padding: 8px 0;
   color: white;
   height: 100%;
   border: none;
   background-color: rgb(50, 42, 58);
}
#location #lct i{
  background-color: rgb(50, 42, 58);
}

/*  id --> best sellers */
#best_seller button a{
   text-decoration: none;
   color: white;
   font-weight: bold;
   background-color: rgb(50, 42, 58);
}
/* hover effects */
#best_seller button a:hover{
  cursor: pointer;
  color: red;
}
/* button of #best_seller */
#best_seller button{
  width: 150px; 
  height: 100%;
  padding: 0px 40px;
  border:  none;
  background-color: rgb(50, 42, 58);
}

/* id --> gift ideas */
#gift_ideas button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#gift_ideas button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #gift ideas */
#gift_ideas button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> new release */
#new_releases button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color:rgb(50, 42, 58);
}
/* hover effects */
#new_releases button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #new release */
#new_releases button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> deal store */
#deal_store button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#deal_store button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #deal_store */
#deal_store button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> electonics */
#electronics button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#electronics button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #electronics */
#electronics button{
 width: 150px; 
 height: 100%;
 padding: 0px 20px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> customer services */
#customer_services button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#customer_services button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #customer services */
#customer_services button{
 width: 140px; 
 height: 100%;
 padding: 0px 40px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* id --> books */
#books button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: rgb(50, 42, 58);
}
/* hover effects */
#books button a:hover{
 cursor: pointer;
 color: red;
}
/* button of #books */
#books button{
 width: 250px; 
 height: 100%;
 padding: 0px 40px;
 border:  none;
 background-color: rgb(50, 42, 58);
}

/* location box.. */
#location_box{
  border: 1px solid white;
  color: white;
  width: 500px;
  height: 260px;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  position: absolute;
  display: none;
}
/* location box remove button link */
#location_box  #header_location_box #remove a{
  text-decoration: none;
  color: white;
  background: red;

}
/* location box's remove button */
#location_box  #header_location_box #remove{
  float: right;
  margin-top: -60px;
  background: red;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
}

/* id --> header_location_box */
#location_box #header_location_box{
  border: 1px  rgb(208, 198, 198) solid;
  background-color: rgb(208, 198, 198);;
  height: 50px;

}

#location_box #header_location_box h5{
  margin-top: 20px;
  background-color: rgb(208, 198, 198);
  color: black;
  padding-left: 1rem;
}
/* id --> location_box_info */
#location_box #location_box_info{
  background-color: white;
}
#location_box #location_box_info  p {
  font-size: small;
  padding: 1rem;
  background-color: white;
  color: black;
}


#location_box #location_box_info #sign_address{
  background-color: orange;
  padding: 1rem;
  width: 400px;
  margin-left: 2.8rem;
}

#location_box #location_box_info #country_names{
  background-color: rgb(208, 198, 198);
  padding: 1rem;
  width: 400px;
  margin-left: 2.8rem;
  
}

#location_box #location_box_info #country_names option{
  background-color: rgb(208, 198, 198);
  padding: 1rem;
  width: 400px;
  margin-left: 2.8rem;
  
}

/* sign-form */
#sign-form{

  background-color: white;
  width: 50%;
  display: none;
  margin-left: 650px;
  position: relative;
  z-index: 4;
  margin-top: -55px;
}

/* sign-form --> #sign_in */


#sign-form #sign_form_header  #sign_in{
  color: black;
  text-decoration: none;
  background-color: orange;
  margin-top: 8px;
  padding: 6px 60px;
  
}
/* sign-form --> #sign_form_header */
#sign-form #sign_form_header{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  align-items: center;
  background-color: white;
}

/* #sign-form --> #sign_form_header --> #new_guest */
#sign-form #sign_form_header #new_guest{
  color: black;
  font-size: small;
  background-color: white;
}

/* #sign-form --> #sign_form_header --> #start_here*/
#sign-form  #sign_form_header #start_here{
  color: blue;
  text-decoration: none;
  cursor: pointer; 
  background-color: white;
}

/* sign-from --> list and account  */
#sign-form #list_and_account{
  display: flex;
  justify-content: space-around;
  background-color: white;
}
/* list and account --> h4 */
#sign-form #list_and_account h4{
  color: gray;
  background-color: white;
}

#sign-form #list_and_account a{
  text-decoration: none;
  display: block;
  color: black;
  font-size: small;
  background-color: white;
}

/* hover effect */
#sign-form #list_and_account a:hover{
  color: red;
}

/* your list and your account */
#sign-form #list_and_account #your_list{
  margin-left: 4rem;
}

#sign-form #list_and_account #your_account{
  margin-right: 8rem;
}
#sign-form #list_and_account #your_list , #sign-form #list_and_account #your_account{
  background-color: white;
}

/* #sign-form #list_and_account #vertical_line */
#sign-form #list_and_account #vertical_line{
  height: 480px;
  border: 1px solid black;
}